<h1>Submit Graffiti Removal Request</h1>

<% if @errors && @errors.length > 0 %>
  <%= render partial: 'graffitis', locals: {errors: @errors} %>
<% end %>
<p class="help-block">Required fields noted with &#42;</p>

<%= form_tag({controller: 'graffitis', action: 'update'}, {:multipart => true}) do %>
  <input type="hidden" name="_method" value="put">
  <div class="form-group">
    <%= label_tag :image %>
    <%= file_field_tag :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :description %>&#42;
    <%= text_area_tag :description, content = nil, class: "form-control", maxlength:
    "150", required: true %>
  </div>
  <div class="form-group">
    <%= label_tag :where_located, "Where is it located?" %>&#42;
    <%= select_tag(:where_located, options_for_select(Graffiti::GRAFFITI_LOCATION_OPTIONS), {class: 'form-control', required: true}) %>
  </div>
  <div class="form-group">
    <%= label_tag :surface_type, "What type of surface is it the graffiti on?" %>&#42;
    <%= select_tag(:surface_type, options_for_select(Graffiti::GRAFFITI_SURFACE_OPTIONS), {class: 'form-control', required: true}) %>
  </div>
  <div class="form-group">
    <%= label_tag :height, "Is the graffiti located over 6 feet from the ground?" %>&#42;
    <%= select_tag(:height, options_for_select(Graffiti::GRAFFITI_HEIGHT_OPTIONS), {class: 'form-control', required: true}) %>
  </div>
    <!-- use different partial for logged in? -->
  <%= render partial: 'form', locals: {user: @user} %>
  <%= submit_tag "Submit", class: "btn btn-default" %>
<% end %>