<table>
  <%= form_tag(controller: 'potholes', action: 'update', :html => {:multipart => true}) do %>
    <input type="hidden" name="_method" value="put">
    <tr>
      <td><%= label_tag :Image %>: </td>
      <td><%= file_field_tag :image %></td>
    </tr>
    <tr>
      <td><%= label_tag :description %>: </td>
      <td><%= text_area_tag :description %></td>
    </tr>
    <tr>
      <td><%= label_tag :where_located %>: </td>

      <td><%= select_tag(:where_located, options_for_select(Pothole::POTHOLE_LOCATION_OPTIONS)) %></td>
    </tr>
    <!-- use different partial for logged in? -->
    <!-- format this as optional -->
   <%= render partial: 'form' %>
    <tr>
      <td></td>
      <td><%= submit_tag "Submit", class: "form-submit" %></td>
    </tr>
  <% end %>
</table>
