<html>
  <head>
    <br><br>
    <style>
      #totally-different-map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
      <%= javascript_tag "var potholes = #{@potholes}" %>
      <%= javascript_tag "var vehicles = #{@vehicles}" %>
      <%= javascript_tag "var rodents = #{@rodents}" %>
      <%= javascript_tag "var graffitis = #{@graffitis}" %>
      <%= javascript_tag "var street_lights = #{@lights}" %>
      <%= javascript_tag "var tree_debris = #{@tree_debris}" %>
    <script>

      var map;
      var geocoder;
      function initialize() {
        var mapCanvas = document.getElementById('totally-different-map');
        var differentMapOptions = {
          center: new google.maps.LatLng(41.889797, -87.637756),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          tilt: 0
        }

        var myLatLng = new google.maps.LatLng(latitude, longitude);
        map = new google.maps.Map(mapCanvas, differentMapOptions);
        createMarker(myLatLng,map,'Thing');
      }
      google.maps.event.addDomListener(window, 'load', initialize);


      var marker;
      function createMarker(coords, map, title){
        marker = new google.maps.Marker({
          position: coords,
          map: map,
          title: title
        });
      }
      // can I plot point from 311
      if($('#tree-debris-check').value()===1) {
        for(i=0;i<tree_debris.length;i++) {
          instance = tree_debris[i]
          coords = maps.LatLng(instance.lat, instance.lng)
          createMarker()
        }
      }

    </script>
  </head>
  <body>
    <div id="totally-different-map"></div>
  </body>
</html>
<!--       //  add_column :requests, :latitude, :string
      // remove_column :requests, 'Longitude'
      // add_column :requests, :longitude, :string
      // first plot one point from db
      // @request[:service_request_number]
 -->
