<div id="report-new">
  <%= button_to "Potholes", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Trees", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Light Out", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Graffiti", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Rodent", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Abandoned Car", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
</div>
