<div id="report-new">
  <div id='new-report-request' class="less-content">
    <h1>What would you like to report?</h1>
  </div>

  <div class="row">
    <%= form_tag("/potholes/new", method: 'get') do %>
      <%= hidden_field_tag :category, "pothole" %>
      <div class="col-xs-6 request-select">
        <%= submit_tag("Potholes", class: "btn btn-lg btn-default button-city-problem-category") %>
      </div>
    <% end %>

    <%= form_tag("/tree_debris/new", method: 'get') do %>
      <%= hidden_field_tag :category, "tree_debris" %>
      <div class="col-xs-6 request-select">
        <%= submit_tag("Tree Debris", class: "btn btn-lg btn-default button-city-problem-category") %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <%= form_tag("/street_lights/new", method: 'get') do %>
      <%= hidden_field_tag :category, "street_light" %>
      <div class="col-xs-6 request-select">
        <%= submit_tag("Street Light Out", class: "btn btn-lg btn-default button-city-problem-category")%>
      </div>
    <% end %>

    <%= form_tag("/graffitis/new", method: 'get') do %>
      <%= hidden_field_tag :category, "graffitis" %>
     <div class="col-xs-6 request-select">
      <%= submit_tag("Graffiti", class: "btn btn-lg btn-default button-city-problem-category")%>
    </div>
    <% end %>
  </div>

  <div class="row">
    <%= form_tag("/rodents/new", method: 'get') do %>
      <%= hidden_field_tag :category, "rodent" %>
      <div class="col-xs-6 request-select">
        <%= submit_tag("Rodents", class: "btn btn-lg btn-default button-city-problem-category")%>
      </div>
    <% end %>

    <%= form_tag("/abandoned_vehicles/new", method: 'get') do %>
      <%= hidden_field_tag :category, "abandoned_vehicle" %>
      <div class="col-xs-6 request-select">
        <%= submit_tag("Abandoned Vehicle", class: "btn btn-lg btn-default button-city-problem-category")%>
      </div>
    <% end %>
  </div>
</div>


