<div id="report-new">
  <%= button_to "Potholes", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Trees", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Light Out", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Graffiti", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Rodent", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Abandoned Car", new_requests_pothole_path, method: 'get', class: "btn btn-lg btn-default" %>
  <!-- <button type="button" class="btn btn-lg btn-default">Potholes</button><br>
  <button type="button" class="btn btn-lg btn-default">Trees</button><br>
  <button type="button" class="btn btn-lg btn-default">Graffiti</button><br>
  <button type="button" class="btn btn-lg btn-default">Light Out</button><br>
  <button type="button" class="btn btn-lg btn-default">Rodent</button><br>
  <button type="button" class="btn btn-lg btn-default">Abandoned Car</button><br> -->
</div>
