<div id="report-new">
  <%= form_tag("/requests/new_form", method: 'get') do %>
    <%= hidden_field_tag :category, "pothole" %>
    <%= submit_tag("Potholes", class: "btn btn-lg btn-default") %>
  <% end %>
  <%= form_tag("/requests/new_form", method: 'get') do %>
    <%= hidden_field_tag :category, "tree_debris" %>
    <%= submit_tag("Tree Debris", class: "btn btn-lg btn-default") %>
  <% end %>
  <%= form_tag("/requests/new_form", method: 'get') do %>
    <%= hidden_field_tag :category, "street_light" %>
    <%= submit_tag("Street Light Out", class: "btn btn-lg btn-default")%>
  <% end %>
  <%= form_tag("/requests/new_form", method: 'get') do %>
    <%= hidden_field_tag :category, "graffiti" %>
    <%= submit_tag("Graffiti", class: "btn btn-lg btn-default")%>
  <% end %>
  <%= form_tag("/requests/new_form", method: 'get') do %>
    <%= hidden_field_tag :category, "rodent" %>
    <%= submit_tag("Rodents", class: "btn btn-lg btn-default")%>
  <% end %>
  <%= form_tag("/requests/new_form", method: 'get') do %>
    <%= hidden_field_tag :category, "abandoned_vehicle" %>
    <%= submit_tag("Abandoned Vehicle", class: "btn btn-lg btn-default")%>
  <% end %>
</div>
