<div id="report-new">
  <%= button_to "Potholes", map_requests_path , method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Trees", map_requests_path , method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Light Out", map_requests_path , method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Graffiti", map_requests_path , method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Rodent", map_requests_path , method: 'get', class: "btn btn-lg btn-default" %>
  <%= button_to "Abandoned Car", map_requests_path , method: 'get', class: "btn btn-lg btn-default" %>
</div>
