<table>
  <%= form_for @request, url: requests_path do |f| %>
    <input type="hidden" name="request-id" value="<%= @request.id %>">
    <tr>
      <td><%= label_tag :Picture %>: </td>
      <td><%= file_field_tag :picture %></td>
    </tr>
    <tr>
      <td><%= label_tag :description %>: </td>
      <td><%= text_area_tag :description %></td>
    </tr>
    <tr>
      <td><%= label_tag :where_located %>: </td>
      <td><%= select_tag(:where_located, options_for_select(Request::POTHOLE_LOCATION_OPTIONS)) %></td>
    </tr>
    <!-- use different partial for logged in? -->
    <!-- format this as optional -->
    <tr>
      <td><%= label_tag(:first_name) %></td>
      <td><%= text_field_tag(:first_name) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:last_name) %></td>
      <td><%= text_field_tag(:last_name) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= text_field_tag(:email) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:phone) %></td>
      <td><%= text_field_tag(:phone) %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.submit class: "form-submit" %></td>
    </tr>
  <% end %>
</table>
