<h1>Service Request</h1>
<table class="table table-condensed">
  <tr>
    <td>Type of Request</td>
    <td><%= @request[:type_of_service_request] %></td>
  </tr>
  <tr>
    <td>Service Request ID</td>
    <% if @request[:service_request_number].blank? %>
      <td>Processing.  Please check back in a couple minutes.</td>
    <% else %>
      <td>
        <%= link_to(@request[:service_request_number], "http://servicetracker.cityofchicago.org/requests/#{@request[:service_request_number]}") %>
      </td>
    <% end %>
  </tr>
    <tr>
    <td>Street Address</td>
    <td><%= @request[:street_address] %></td>
  </tr>
  <tr>
    <td>Status:</td>
    <td><%= @request[:status] %></td>
  </tr>
  <tr>
    <td>Date Created:</td>
    <td><%= @request[:creation_date].strftime("%m/%d/%Y") %></td>
  </tr>
</table>

<a href="https://twitter.com/intent/tweet?button_hashtag=IHelpedFixChicago&text=I%20sent%20to%20a%20request%20to%20Chicago%20311!" class="twitter-hashtag-button">Tweet #IHelpedFixChicago</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
