<div id="form-header">
  Request Tree Debris Removal
</div>

<% if @errors && @errors.length > 0 %>
  <%= render partial: 'errors', locals: {errors: @errors} %>
<% end %>

<div id="submission-form">
  <table>
    <%= form_tag({controller: 'tree_debris', action: 'update'}, {:multipart => true}) do %>
      <input type="hidden" name="_method" value="put">
      <tr>
        <td><%= label_tag :image %>: </td>
        <td><%= file_field_tag :image %></td>
      </tr>
      <tr>
        <td><%= label_tag :description %>: </td>
        <td><%= text_area_tag :description %></td>
      </tr>
      <tr>
        <td><%= label_tag :debris_size, "Is the debris larger than a city garbage cart?" %>: </td>
        <td><%= select_tag(:debris_size, options_for_select(TreeDebris::TREE_DEBRIS_SIZE_OPTIONS)) %></td>
      </tr>
      <tr>
        <td><%= label_tag :debris_location, "Where is the debris located?" %>: </td>
        <td><%= select_tag(:debris_location, options_for_select(TreeDebris::TREE_DEBRIS_LOCATION_OPTIONS)) %></td>
      </tr>
      <!-- use different partial for logged in? -->
      <!-- format this as optional -->
    </table>
      <%= render partial: 'form' %>
    <table>
      <tr>
        <td></td>
        <td><%= submit_tag "Submit", class: "form-submit" %></td>
      </tr>
    <% end %>
  </table>
</div>
