<div id="form-header">
  Report Street Light Outage
</div>

<% if @errors && @errors.length > 0 %>
  <%= render partial: 'errors', locals: {errors: @errors} %>
<% end %>

<div id="submission-form">
  <table>
    <%= form_tag({controller: 'street_lights', action: 'update'}, {:multipart => true}) do %>
      <input type="hidden" name="_method" value="put">
      <tr>
        <td><%= label_tag :image %>: </td>
        <td><%= file_field_tag :image %></td>
      </tr>
      <tr>
        <td><%= label_tag :description %>: </td>
        <td><%= text_area_tag :description %></td>
      </tr>
      <tr>
        <td><%= label_tag :light_status, "Is the light completely out or does it go on and off?" %>: </td>
        <td><%= select_tag(:light_status, options_for_select(StreetLight::STREET_LIGHT_OUT_OPTIONS)) %></td>
      </tr>
    </table>
      <!-- use different partial for logged in? -->
      <!-- format this as optional -->
      <%= render partial: 'form' %>
    <table>
      <tr>
        <td></td>
        <td><%= submit_tag "Submit", class: "form-submit" %></td>
      </tr>
    <% end %>
  </table>
</div>
