<table>
  <%= form_tag(controller: 'street_lights', action: 'update', multipart: true) do %>
    <input type="hidden" name="_method" value="put">
    <tr>
      <td><%= label_tag :Picture %>: </td>
      <td><%= file_field_tag :picture %></td>
    </tr>
    <tr>
      <td><%= label_tag :description %>: </td>
      <td><%= text_area_tag :description %></td>
    </tr>
    <tr>
      <td><%= label_tag :light_status %>: </td>
      <td><%= select_tag(:light_status, options_for_select(StreetLight::STREET_LIGHT_OUT_OPTIONS)) %></td>
    </tr>
    <!-- use different partial for logged in? -->
    <!-- format this as optional -->
    <%= render partial: 'form' %>
      <td></td>
      <td><%= submit_tag "Submit", class: "form-submit" %></td>
    </tr>
  <% end %>
</table>
