<!DOCTYPE html>
<html>
<head>
  <title>FirstResponderApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'navbar' %>
  <div class="container-fluid">
    <div class="body-container">
      <%= yield %>
    </div>
  </div>


<script>
  var requests;
  var potholes;
  var vehicles;
  var rodents;
  var graffitis;
  var street_lights ;
  var tree_debris;
  var categories = {
    "all": requests,
    "potholes": potholes,
    "abandoned_vehicles": vehicles,
    "rodents": rodents,
    "graffiti": graffitis,
    "street_lights": street_lights,
    "tree_debris": tree_debris
  }
  var info;
  var map;
  var geocoder;
  var markers = [];
  var mc_array = [];
  var category;
  $( "#filter" ).change(function() {
    clearMarkers();
    clearClusters();
    category = this.value;
    plotMarkers(categories[this.value]);
  });
  function clearMarkers() {
    $.each(markers, function(i, obj){
      obj.setMap(null);
      obj=null;
    })
  }
  function clearClusters() {
    $.each(mc_array, function(i, mc) {
      mc.setMap(null);
      mc=null;
    })
  }
  function initializeView() {
    var mapCanvas = document.getElementById('totally-different-map');
    var differentMapOptions = {
      center: new google.maps.LatLng(41.889797, -87.637756),
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      tilt: 0
    }
      map = new google.maps.Map(mapCanvas, differentMapOptions);
      category = "Request";
      plotMarkers(requests);
  }
  // google.maps.event.addDomListener(window, 'load', initialize);
  function plotMarkers(array){
    // debugger;
    var curmarkers = [];
    var infowindow = null;
    var oldinfowindow = null;
    var mcOptions = {
      gridSize: 50,
      maxZoom: 15,
      title: category + ' cluster - click to zoom'};
    $.each(array, function(i, obj) {
      //use obj.id and obj.name here, for example:
        latlng = new google.maps.LatLng(obj.latitude, obj.longitude);
        var marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
        markers.push(marker);
        curmarkers.push(marker);

        var contentString = '<h4 style = "color: black">' + obj.type_of_service_request + '</h4><p style = "color: black">' + obj.street_address + '</>';
        google.maps.event.addListener(marker, 'click', function() {
          infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          if (oldinfowindow != null && oldinfowindow.content == infowindow.content){
            oldinfowindow.close();
            infowindow = null;
            oldinfowindow = null;
           }
          else if (oldinfowindow) {
            oldinfowindow.close();
            infowindow.open(map,this);
          }
          else {
            infowindow.open(map,this);
          }
          oldinfowindow = infowindow;
        });
    });
    var mc = new MarkerClusterer(map, curmarkers, mcOptions);
    mc_array.push(mc);
  }

  $(document).ready(function(){
    if(document.getElementById('totally-different-map') != null){
      initializeView()
      $( "#filter" ).change(function() {

        clearMarkers();
        clearClusters();
        category = this.value;
        plotMarkers(categories[this.value]);
      });
    }
  });
</script>

</body>
</html>
